<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GestionaleAliante.Properties.Settings.ALIANTEConnectionString"
      connectionString="Data Source=DESKTOP-S7RVVEN\SQLEXPRESS;Initial Catalog=ALIANTE;Persist Security Info=True;User ID=sa;Password=jamaica"
      providerName="System.Data.SqlClient" />
    <add name="GestionaleAliante.Properties.Settings.ALIANTEConnectionString1"
      connectionString="Data Source=DESKTOP-S7RVVEN\SQLEXPRESS;Initial Catalog=ALIANTE;Persist Security Info=True;User ID=sa;Password=jamaica"
      providerName="System.Data.SqlClient" />
    <add name="GestionaleAliante.Properties.Settings.ALIANTEConnectionString2"
      connectionString="Data Source=DESKTOP-S7RVVEN\SQLEXPRESS;Initial Catalog=ALIANTE;User ID=sa;Password=jamaica"
      providerName="System.Data.SqlClient" />
    <add name="GestionaleAliante.Properties.Settings.ALIANTEConnectionString3"
      connectionString="Data Source=DESKTOP-S7RVVEN\SQLEXPRESS;Initial Catalog=ALIANTE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
